<div class="form-container">
  <h1>New Facility Division</h1>


  <%= form_for [@school, @classroom] do |c| %>

    <div class="field">
      <%= c.label :name %>
      <%= c.text_field :name %>
    </div>
    <div class="field">
      <%= c.label :description %>
      <%= c.text_field :description %>
    </div>
    <div class="actions">
      <%= c.button "Add Division" %>
    </div>

  <% end %>

  <% if @form_errors %>
    <% @form_errors.each do |error| %>
      <p><%= error %></p>
    <% end %>
  <% end %>
</div>
