<div class="grid-x">
  <div class="large-4 large-offset-4 cell">

    <div class="grid-x">
      <h2 class="large-4 large-offset-3 cell edit-name">Edit <%= resource_name.to_s.humanize %></h2>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="grid-x">
        <div class="large-5 cell">
            <%= f.label :first_name %><br />
            <%= f.text_field :first_name, autofocus: true %>
        </div>
        <div class="large-5 large-offset-1 cell">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autofocus: true %>
        </div>
      </div>

      <div class="grid-x">
        <div class="large-5 cell">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="large-5 cell large-offset-1 cell">
          <%= f.label :avatar %>
          <%= f.file_field :avatar %>
          <%= f.hidden_field :avatar_cache %>
        </div>
      </div>

      <div class="grid-x">
        <div class="small-11 cell">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
          <%= f.password_field :password, autocomplete: "off" %>
          <% if @minimum_password_length %>
            <br />
            <em><%= @minimum_password_length %> characters minimum</em>
          <% end %>
        </div>
    </div>

      <div class="grid-x">
        <div class="small-11 cell">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <div class="grid-x">
        <div class="small-11 cell">
          <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
          <%= f.password_field :current_password, autocomplete: "off" %>
        </div>
    </div>

      <div class="grid-x">
        <div class="large-5 cell update">
          <%= f.submit "Update",class: "button large" %>
        </div>
      <% end %>
      <div class="large-5 large-offset-1 cell">
        <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "button large" %>
      </div>
    </div>
  </div>
</div>
