<%= link_to "sign in", new_user_session_path %>
<%= link_to "sign up", new_user_registration_path %>
 <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
 <%= link_to "create new school", new_school_path %> 

<% @schools.each do |school| %>
  <h1><%= link_to school.name, school_path(school.id) %></h1>
  <h2><%= school.description %></h2>
  <% end %>
