<div class="grid-x">
  <div class="large-4 large-offset-4 cell">
    <h1 class="new-facility">New Facility</h1>
    <% if @form_errors %>
      <% @form_errors.each do |error| %>
        <p><%= error %></p>
      <% end %>
    <% end %>

    <%= form_for @school do |s| %>

      <div class="field">
        <%= s.label :name %>
        <%= s.text_field :name %>
      </div>

      <div class="field">
        <%= s.label :description %>
        <%= s.text_area :description %>
      </div>

      <div class="field">
        <%= s.label :avatar, "Facility Picture" %>
        <%= s.file_field :avatar %>
        <%= s.hidden_field :avatar_cache %>
      </div>

      <div class="actions">
        <%= s.button "Add Facility" %>
      </div>

    <% end %>
  </div>
</div>
