<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">

    <title><%= content_for?(:title) ? yield(:title) : "Admistus" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'index.js' %>
  </head>

  <body>
    <div class="grid-x menu">
      <div class="small-12 medium-6 large-3 cell top-bar">
        <a class="back-button" href="javascript:history.back()">Back</a>
        <a class="back-button"<%= link_to "All Facilities", root_path %></a>
      </div>
      <div class="small-12 medium-6 large-3 cell top-bar admistus">
        <a class="admistus" <%= link_to "Admistus", root_path %></a>
      </div>
      <div class="small-12 medium-6 large-3 cell top-bar"
        <ul class="hmenu">
          <li class="registration"<%= render 'devise/menu/registration_items' %></lin>
          <%= render 'devise/menu/login_items' %>
        </ul>
      </div>
    </div>

    <%= yield %>

    <%= javascript_include_tag "application" %>
  </body>
</html>
